<footer class="footer">
  <div class="container">
    <div class="footer__inner">
      <div class="footer__col">
        <div class="footer__col-title">
          Для вопросов и предложений
        </div>
        <div class="footer__info ">
          shelter-pets@mail.ru
        </div>
        <a class="footer__info footer__info-phone" href="tel:79387908428">
          +7 938 790-8428
        </a>
      </div>
      <div class="footer__col footer__col-img">
        <div class="footer__col-title">
          Мы ждем вашего визита
        </div>
        <div class="footer__info footer__info-street">
          Тюмень, ул. Минская, 12
        </div>
      </div>
    </div>
  </div>
</footer>