<header class="header" style="background-image: url(img/header-bg.jpg);">
  <div class="container">
    <div class="header__inner">
      <div class="header__top">
        <div class="header__logo">
          <a href="#">
            Уютный Дом
          </a>
          <div class="header__text">
            Приют для животных в Тюмени
          </div>
        </div>
        <nav class="menu">
          <ul class="menu__list">
            <li>
              <a href="#">
                О приюте
              </a>
            </li>
            <li>
              <a href="#">
                Наши питомцы
              </a>
            </li>
            <li>
              <a href="#">
                Помочь приюту
              </a>
            </li>
            <li>
              <a href="#">
                Контакты
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__info">
        <div class="header__info-title">
          Дом нужен не только людям
        </div>
        <div class="header__info-description">
          Если вы хотите взять в семью питомца, не спешите обращаться к заводчику. Для начала посетите приют – там живет большое количество животных, которые нуждаются в тепле и заботе и готовы дарить вам свое внимание и любовь.
        </div>
        <a class="header__info-btn" href="#">Завести себе друга</a>
      </div>
    </div>
  </div>
</р>