<header class="header" style="background-image: url(img/header-bg.jpg);">
  <div class="container">
    <div class="header__inner">
      <div class="header__top">
        <div class="header__logo">
          <a href="#">
            Уютный Дом
          </a>
          <div class="header__text">
            Приют для животных в Тюмени
          </div>
        </div>
        <nav class="menu">
          <div class="menu__btn">
            <svg viewBox="0 0 800 600" width="60px" height="60px" class="">
              <path d="M300,220 C300,220 520,220 540,220 C740,220 640,540 520,420 C440,340 300,200 300,200" class="top_bar" />
            
              <path d="M300,320 L540,320" class="middle_bar" />
            
              <path d="M300,210 C300,210 520,210 540,210 C740,210 640,530 520,410 C440,330 300,190 300,190" class="bottom_bar" transform="translate(480, 320) scale(1, -1) translate(-480, -318)" />
            </svg>
          </div>
          <ul class="menu__list">
            <li class="menu__list-item">
              <a class="menu__list-link" href="#shelter">
                О приюте
              </a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#pets">
                Наши питомцы
              </a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#help">
                Помочь приюту
              </a>
            </li>
            <li class="menu__list-item">
              <a class="menu__list-link" href="#contacts">
                Контакты
              </a>
            </li>
          </ul>
        </nav>
      </div>
      <div class="header__info" data-aos="fade-right" data-aos-duration="1000" data-aos-delay="300">
        <div class="header__info-title">
          Дом нужен не только людям
        </div>
        <div class="header__info-description">
          Если вы хотите взять в семью питомца, не спешите обращаться к заводчику. Для начала посетите приют – там живет большое количество животных, которые нуждаются в тепле и заботе и готовы дарить вам свое внимание и любовь.
        </div>
        <a class="header__info-btn" href="#pets">Завести себе друга</a>
      </div>
    </div>
  </div>
</header>