@import 'local-fonts';

// font-family: 'Lato', sans-serif;
// font-family: 'Open Sans', sans-serif;
// font-family: 'Raleway', sans-serif;
@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?b9ydrv');
  src:  url('../fonts/icomoon.eot?b9ydrv#iefix') format('embedded-opentype'),
    url('../fonts/icomoon.ttf?b9ydrv') format('truetype'),
    url('../fonts/icomoon.woff?b9ydrv') format('woff'),
    url('../fonts/icomoon.svg?b9ydrv#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-long-arrow-left:before {
  content: "\f177";
}
.icon-long-arrow-right:before {
  content: "\f178";
}
.icon-credit-card-alt:before {
  content: "\f283";
}
.icon-credit-card:before {
  content: "\e93f";
}