html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
  position: relative;
  // overflow-x: hidden;
}

ul,
ol,
li,
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

button:focus,
input:focus {
  outline: transparent;
}
body{
  font-size: 15px;
  line-height: 24px;
  color: #cdcdcd;
  font-family: 'Lato', sans-serif;
  font-weight: normal;
}
.container{
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}
#timmy,
#jes,
#valli,
#mikki,
#snow,
#bella,
#eva,
#zeus{
  display: none;
}
