@import 'fonts';
@import 'vars';
@import 'global';
// start header
.header{
  min-height: 925px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}
.header__top{
  display: flex;
  justify-content: space-between;
  height: 47px;
  align-items: center;
  margin-bottom: 250px;
  padding-top: 60px;
}
.header__logo{
  a{
    font-size: 32px;
    color: $bg;
  }
}
.header__text{
  font-size: 13px;
  color: #fff;
  line-height: 29px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
}
.menu__list{
  li{
    display: inline-block;
    & + li{
      margin-left: 40px;
    }
  }
  a{
    font-size: 15px;
    color: #cdcdcd;
    position: relative;
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    &::after{
      content: '';
      position: absolute;
      bottom: -10px;
      left: 0;
      width: 45px;
      height: 3px;
      background-color: $bg;
    }
  }
}
.header__info{
  max-width: 395px;
  &-title{
    font-size: 44px;
    line-height: 57px;
    color: #fff;
    margin-bottom: 45px;
  }
  &-description{
    margin-bottom: 45px;
    font-family: 'Open Sans', sans-serif;
  }
  &-btn{
    color: #000;
    font-size: 17px;
    padding: 20px 45px;
    background-color: $bg;
    border-radius: 50px;
    display: inline-block;
  }
}
// end header

//start about-shelter
.about-shelter{
  padding: 90px 0;
  background-color: #fafafa;
  &__inner{
    display: flex;
    justify-content: space-evenly;
  }
  &__img{
    min-height: 410px;
    max-width: 300px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
  }
}
.about__item{
  max-width: 415px;
  &-title{
    font-size: 35px;
    color: #545454;
    font-weight: 400;
    margin-bottom: 40px;
  }
  p{
    font-family: 'Open Sans', sans-serif;
    font-weight: 400;
    color: #4c4c4c;
    margin-bottom: 34px;
  }
}
// end about shelter

// start slider pets
.pets-slider{
  padding: 80px 0 70px;
  background-color: #f6f6f6;
}
.pets-slider__title{
  font-size: 35px;
  line-height: 45px;
  color: #545454;
  text-align: center;
  margin-bottom: 65px;
}
.pets-slider__inner{
  max-width: 910px;
  margin: 0 auto;
  position: relative;
  margin-bottom: 65px;
}
.pets__item{
  max-width: 270px;
  min-height: 424px;
  background-color: #fafafa;
  border-radius: 9px;
  text-align: center;
  &-img{
    height: 270px;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    display: block;
    margin-bottom: 30px;
    outline: none;
  }
  &-title{
    font-size: 20px;
    color: #545454;
    margin-bottom: 20px;
  }
  &-btn{
    font-size: 17px;
    color: #292929;
    padding: 15px 34px;
    border: 2px solid $bg;
    display: inline-block;
    border-radius: 50px;
    cursor: pointer;
  }
}
.pets__item:hover{
  box-shadow: 0px 2px 30.1px 4.9px rgba(13, 13, 13, 0.04);
  transition: all .5s;
}
.pets__item-btn:hover{
  border: none;
  background-color: $bg;
}
.slider-arrows{
  position: absolute;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid $bg;
  background-color: $bg;
  top: 50%;
  cursor: pointer;
  outline: none;
}
.slider-arrows:before{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: 'icomoon';
}
.slider-arrows__left:before{
  content: "\f177";
}
.slider-arrows__right:before{
  content: "\f178";
}
.slider-arrows__left{
  left: -112px; 
}
.slider-arrows__right{
  right: -82px;
}
.slider-arrows.slick-disabled{
  cursor: default;
  background-color: transparent;
}
.pets-slider__btn{
  position: relative;
  display: inline-block;
  padding: 20px 49px;
  background-color: $bg;
  border-radius: 50px;
  color: #292929;
  font-size: 17px;
  left: 50%;
  top: 50%;
  transform: translate(-50%, 0%);
  outline: none;
}
// end slider pets

// start help shelter
.help-shelter{
  padding: 72px 0 40px;
  background-color: #fafafa;
}
.help-shelter__title{
  text-align: center;
  font-size: 35px;
  line-height: 45px;
  font-weight: 400;
  color: #545454;
  margin-bottom: 50px;
}
.help__list{
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  text-align: center;
}
.help__list-item{
  padding: 50px 60px;
  img{
    max-width: 55px;
    max-height: 55px;
  }
  p{
   font-weight: normal;
    font-size: 20px;
    color: #545454;
  }
}
//end help shelter

// start donation
.donation{
  padding: 73px 0 85px;
  background-color: #f6f6f6;
}
.donation__inner{
  display: flex;
  justify-content: space-evenly;
  &-img{
    max-width: 505px;
    min-height: 261px;
    width: 100%;
    background-repeat: no-repeat;
    background-position: center;
  }
}
.donation__content{
  max-width: 365px;
  &-title{
    font-size: 35px;
    color: #545454;
    line-height: 42px;
    font-weight: 400;
    margin-bottom: 25px;
  }
  &-description{
    color: #545454;
    margin-bottom: 15px;
  }
  &-text{
    font-size: 12px;
    line-height: 18px;
    color: #b2b2b2;
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-weight: 400;
  }
}
.donation-btn{
  padding: 17px 15px 17px 59px;
  background-color: $bg;
  border-radius: 9px;
  font-size: 20px;
  color: #000000;
  display: inline-block;
  position: relative;
  margin-bottom: 33px;
  &::before{
    content: "\e93f";
    font-family: 'icomoon';
    position: absolute;
    font-size: 30px;
    left: 14px;
  }
}

//end donation

@import 'media';
